<mj-font
  name="Poppins"
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600"
/>
<mj-attributes>
  <mj-class name="body" background-color="#fff" />
  <mj-class name="header-container__dark" background-color="#100733" />
  <mj-class name="header-container__light" background-color="#331D65" />
  <mj-class
    name="header-title"
    color="#fff"
    font-weight="600"
    line-height="1.5"
    font-size="27px"
    font-family="Poppins, Arial, sans-serif"
  />
  <mj-class
    name="wave"
    width="1000px"
    height="auto"
    padding-left="0"
    padding-right="0"
    padding-top="0"
  />
  <mj-class
    name="body-text__normal"
    color="#051441"
    font-weight="400"
    line-height="1.5"
    font-size="16px"
    font-family="Poppins, Arial, sans-serif"
  />
  <mj-class
    name="body-text__strong"
    color="#051441"
    font-weight="600"
    line-height="1.5"
    font-size="16px"
    font-family="Poppins, Arial, sans-serif"
  />
  <mj-class
    name="body-divider"
    border-width="1px"
    border-style="solid"
    border-color="#EFF2F8"
    padding-left="0"
    padding-right="0"
    padding-top="36px"
    padding-bottom="36px"
  />
  <mj-class name="footer" background-color="#100733" />
  <mj-class
    name="footer-text__normal"
    color="#fff"
    font-weight="400"
    line-height="1.5"
    font-size="12px"
    font-family="Poppins, Arial, sans-serif"
  />
  <mj-class
    name="btn__primary"
    font-family="Poppins, Arial, sans-serif"
    background-color="#00D166"
    letter-spacing="0.8px"
    font-size="16px"
    font-weight="bold"
    width="80%"
    height="56px"
  />
</mj-attributes>
